<% if @item.valid? %>
   $('.js-items').append("<%= escape_javascript(render(@item)) %>");
   $('.new-item').html("<%= escape_javascript(render partial: 'items/form', locals: { item: @new_item }) %>");
   $('ul.nav').after("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>");
 <% else %>
   $('.new-item').html("<%= escape_javascript(render partial: 'items/form') %>");
   $('ul.nav').after("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
 <% end %>